# Env / secrets
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
.venv/
venv/
env/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE / OS
.idea/
.vscode/
.DS_Store

# Local DB files
*.db
*.sqlite3
